<!DOCTYPE html>
<html>
    <head>
        <title>
            Новости
        </title>
    </head>
    <body>
        <section>
            <table border='1'>
            {% for record in records %}
                <tr>
                    <td> {{record.site}} </td>
                    <td> {{record.title}} </td>
                    <td> {{record.description}} </td>
                    <td> {{record.link}} </td>
                </tr>
                <tr>
                    <td colspan="4"> {{record.article}} </td>
                </tr>
                
            {% endfor %}
            </table>
        </section>
    </body>
</html>
    
    
